<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Ekarta_AdminBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ps/Admin" binding="basicHttpBinding"
                bindingConfiguration="Ekarta_AdminBinding" contract="AdminService.Ekarta_AdminPort"
                name="Ekarta_AdminPort" />
        </client>
    </system.serviceModel>
</configuration>