<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Ekarta_ServisBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ps" binding="basicHttpBinding" bindingConfiguration="Ekarta_ServisBinding"
                contract="EkartaService.Ekarta_ServisPort" name="Ekarta_ServisPort" />
        </client>
    </system.serviceModel>
</configuration>